nav ul,
ol,
ul {
   list-style: none
}

ul.disc1,
ul.disc2 {
   list-style-type: disc
}

ol.decimal2,
ul.disc2 {
   padding-left: 1em
}

code,
table {
   text-align: left
}

.button,
.homeBtns,
button,
legend {
   text-align: center
}

#submit,
.icon {
   cursor: pointer
}

.max-full-height,
img {
   max-height: 100%
}

#close-button,
#popup,
nav ul {
   position: fixed
}

html {
   box-sizing: border-box;
   font-size: 16px
}

*,
:after,
:before {
   box-sizing: inherit
}

.container,
.max-full-height,
.max-full-width {
   box-sizing: border-box
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
   margin: 0;
   padding: 0;
   font-weight: 400
}

.container,
body,
section {
   margin: auto
}

header {
   background-color: var(--green);
   border-bottom: solid 2px var(--dark-blue);
   padding: 1em
}

#logo {
   width: 25%
}

:root {
   --basic-black: black;
   --basic-white: white;
   --dark-gray: gray;
   --light-gray: lightgray;
   --red: red;
   --dark-blue: rgb(79, 76, 176);
   --light-blue: rgb(107, 147, 214);
   --green: rgb(159, 193, 100);
   --dark-orange: rgb(205, 114, 45);
   --light-orange: rgb(211, 145, 101);
   --yellow: rgb(239, 227, 203)
}

body {
   font-family: 'Josefins Sans', sans-serif;
   min-width: 300px;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   background: var(--yellow)
}

.container {
   background-color: var(--yellow);
   width: 100%;
   max-width: 1025px;
   padding: 0 5px;
   display: flex;
   flex-direction: column
}

.green,
.icon,
footer,
nav a#logoLink:hover,
nav a:hover {
   background-color: var(--green)
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 1rem 0;
   font-weight: 300
}

.bold,
h5,
th {
   font-weight: 700
}

h1 {
   font-size: 3rem;
   line-height: 1
}

h2 {
   font-size: 2.5rem;
   line-height: 1.25
}

h3 {
   font-size: 2rem;
   line-height: 1.2
}

h4 {
   font-size: 1.25rem;
   line-height: 1.3
}

h5,
h6 {
   font-size: 1rem
}

h5 {
   line-height: 1.4
}

h6 {
   line-height: 1.5
}

.italic {
   font-style: italic
}

.under {
   text-decoration: underline
}

.strike {
   text-decoration: line-through
}

.button,
button,
button a,
nav a {
   text-decoration: none
}

.cap {
   text-transform: capitalize
}

.lowcase {
   text-transform: lowercase
}

.upcase,
nav ul {
   text-transform: uppercase
}

.icon {
   border: solid 1px var(--dark-blue);
   box-shadow: 1px 1px var(--dark-blue);
   border-radius: 6px;
   position: absolute;
   z-index: 100;
   top: 1.5em;
   right: 2em;
   padding: 4px
}

.container2,
.gallery,
.video-player,
form,
legend {
   position: relative
}

legend,
section,
td,
th {
   padding: .5em
}

.closeIcon,
.menuIcon {
   font-size: 2.5em;
   color: var(--dark-blue)
}

.closeIcon {
   display: none
}

.aBtn,
nav a {
   display: block
}

nav ul {
   transform: translateY(-100%);
   transition: transform .2s;
   top: 0;
   left: 0;
   right: 0;
   z-index: 99;
   background: #000;
   color: #fff;
   padding-top: 5.5rem;
   line-height: 3em
}

.showMenu {
   transform: translateY(0)
}

nav a {
   color: #fff;
   padding: 0 1em;
   margin: .5em 0;
   font-size: 1.2em
}

nav a:hover {
   color: #000
}

nav a.active {
   background-color: var(--light-blue);
   color: #000
}

.aBtn {
   color: #000
}

.blackT,
button a {
   color: var(--basic-black)
}

article {
   width: 97%;
   margin: .3em
}

section {
   border: solid 1px var(--dark-gray);
   border-radius: 6px
}

button.icon,
pre {
   margin: 0
}

.homeBtns {
   display: flex;
   flex-direction: column;
   gap: .5em;
   margin: .5em auto;
   justify-content: center
}

pre {
   white-space: pre-wrap;
   line-height: 15px;
   padding: 5px;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word
}

.color {
   border-radius: 6px;
   width: 150px;
   height: 30px;
   margin: 10px
}

.white,
.yellow {
   border: solid 1px var(--dark-gray)
}

table,
td,
th {
   border: solid 1px var(--dark-blue)
}

.black {
   background-color: var(--basic-black)
}

.white {
   background-color: var(--basic-white)
}

.gray {
   background-color: var(--dark-gray)
}

.lightGray {
   background-color: var(--light-gray)
}

.red {
   background-color: var(--red)
}

.darkBlue {
   background-color: var(--dark-blue)
}

.bordered th,
.lightBlue,
.striped tr:nth-child(2n),
fieldset,
legend {
   background-color: var(--light-blue)
}

.darkOrange {
   background-color: var(--dark-orange)
}

.lightOrange {
   background-color: var(--light-orange)
}

.yellow {
   background-color: var(--yellow)
}

.whiteT,
button.black,
button.darkBlue,
button.gray {
   color: var(--basic-white)
}

.grayT {
   color: var(--dark-gray)
}

.lightGrayT {
   color: var(--light-gray)
}

#close-button,
.redT {
   color: var(--red)
}

.darkBlueT {
   color: var(--dark-blue)
}

.lightBlueT {
   color: var(--light-blue)
}

.greeT {
   color: var(--green)
}

.darkOrangeT {
   color: var(--dark-orange)
}

.lightOrangeT {
   color: var(--light-orange)
}

.yellowT {
   color: var(--yellow)
}

.box,
.card {
   color: #000;
   box-shadow: 1px 1px 1px grey
}

ul.disc1,
ul.disc2 {
   list-style-position: inside
}

ol.decimal,
ol.decimal2 {
   list-style-type: decimal;
   list-style-position: inside
}

.inline {
   display: inline
}

.inline-flex {
   display: inline-flex
}

table {
   border-collapse: collapse;
   width: 100%;
   margin: 1em 0;
   line-height: 1.2em
}

td,
th {
   font-weight: 400
}

#submit,
legend {
   font-weight: 700
}

.button,
button {
   display: inline-block;
   border: 1px solid gray;
   border-radius: 6px;
   padding: .5em;
   font-size: 1em;
   transition: .25s;
   margin: 1em;
   max-width: 70%
}

#mainpopimage,
#submit,
.contact label,
.video-player.active {
   display: block
}

.XS {
   max-width: 30px;
   font-size: 10px
}

.XS:hover {
   border: solid 3px var(--basic-black)
}

.S {
   max-width: 70px;
   padding: .4em;
   font-size: 12px
}

.M {
   max-width: 100px;
   padding: .7em;
   font-size: 16px
}

.L {
   max-width: 200px;
   padding: 1.2em;
   font-size: 20px
}

.button:hover,
button:hover {
   letter-spacing: 4px
}

.button.active,
button.active {
   border: 4px solid
}

form {
   margin: auto;
   padding: 0
}

legend {
   top: 2px;
   margin-bottom: 0;
   border: solid 1px var(--basic-white);
   border-radius: 6px
}

fieldset {
   border-radius: 5px;
   border: 2px solid #fff;
   max-width: 450px;
   margin: .5em auto;
   box-shadow: rgba(0, 0, 0, .24) 0 3px 5px
}

#myForm {
   background-color: #00008b
}

.form-group {
   margin-bottom: 10px
}

.contact label {
   margin-top: .5em;
   margin-bottom: 5px;
   margin-left: .1em
}

.contact input[type=text],
input[type=email],
select,
textarea {
   display: block;
   width: 80%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   min-width: 80%;
   box-shadow: 0 0 3px rgba(0, 0, 0, .1);
   margin-left: 1em
}

.radio,
label {
   padding-left: 1em;
   margin-bottom: .25em
}

.music {
   padding-left: 0
}

#submit {
   background-color: #fff;
   color: #87ceeb;
   padding: 5px 20px;
   border: none;
   border-radius: 4px;
   font-size: 1em;
   margin: 4px;
   box-shadow: rgba(0, 0, 0, .24) 0 3px 8px
}

.button-container {
   display: flex;
   justify-content: center
}

input:focus,
textarea:focus {
   outline: skyblue solid 1px;
   border: 1px solid #87ceeb;
   box-shadow: 0 0 3px #87ceeb
}

.tall1 {
   grid-row: span 1/auto
}

.tall2 {
   grid-row: span 2/auto
}

.tall3 {
   grid-row: span 3/auto
}

.tall4 {
   grid-row: span 4/auto
}

.tall5 {
   grid-row: span 5/auto
}

.tall6 {
   grid-row: span 6/auto
}

.tall7 {
   grid-row: span 7/auto
}

.tall8 {
   grid-row: span 8/auto
}

.tall9 {
   grid-row: span 9/auto
}

.tall10 {
   grid-row: span 10/auto
}

.tall11 {
   grid-row: span 11/auto
}

.tall12 {
   grid-row: span 12/auto
}

.wide1 {
   grid-column: span 1/auto
}

.wide2 {
   grid-column: span 2/auto
}

.wide3 {
   grid-column: span 3/auto
}

.wide4 {
   grid-column: span 4/auto
}

.wide5 {
   grid-column: span 5/auto
}

.wide6 {
   grid-column: span 6/auto
}

.wide7 {
   grid-column: span 7/auto
}

.wide8 {
   grid-column: span 8/auto
}

.wide9 {
   grid-column: span 9/auto
}

.wide10 {
   grid-column: span 10/auto
}

.wide11 {
   grid-column: span 11/auto
}

.wide12 {
   grid-column: span 12/auto
}

img {
   height: auto;
   max-width: 100%
}

.round {
   border: 1px solid #00f;
   border-radius: 50%;
   object-fit: fill
}

.basic-grid {
   display: grid;
   grid-gap: 0.25em;
   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
}

.onyr6-grid {
   display: grid;
   border: 1px solid grey;
   max-width: 1025px;
   margin: auto;
   grid-gap: 3px;
   grid-template-columns: repeat(12, 1fr)
}

.box,
.flex {
   display: flex
}

.flex {
   justify-content: space-evenly
}

.container2 {
   border: 1px solid var(--yellow);
   margin: 5px auto;
   width: 100%;
   padding: 3px
}

.box {
   flex-direction: row;
   border: 1px solid grey
}

.card {
   justify-content: center;
   background: center #eee;
   margin: auto;
   overflow: hidden;
   width: 100%;
   height: 100%
}

.max-full-width {
   max-width: 100%
}

.eight-by-eight,
.eleven-by-eleven,
.five-by-five,
.four-by-four,
.nine-by-nine,
.seven-by-seven,
.six-by-six,
.ten-by-ten,
.three-by-three,
.twelve-by-twelve,
.two-by-two {
   display: grid;
   max-width: 1025px;
   grid-gap: 0.5em;
   margin: auto
}

.two-by-two {
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(2, 1fr)
}

.three-by-three {
   grid-template-rows: repeat(3, 1fr);
   grid-template-columns: repeat(3, 1fr)
}

.four-by-four {
   grid-template-rows: repeat(4, 1fr);
   grid-template-columns: repeat(4, 1fr)
}

.five-by-five {
   grid-template-rows: repeat(5, 1fr);
   grid-template-columns: repeat(5, 1fr)
}

.six-by-six {
   grid-template-rows: repeat(6, 1fr);
   grid-template-columns: repeat(6, 1fr)
}

.seven-by-seven {
   grid-template-rows: repeat(7, 1fr);
   grid-template-columns: repeat(7, 1fr)
}

.eight-by-eight {
   grid-template-rows: repeat(8, 1fr);
   grid-template-columns: repeat(8, 1fr)
}

.nine-by-nine {
   grid-template-rows: repeat(9, 1fr);
   grid-template-columns: repeat(9, 1fr)
}

.ten-by-ten {
   grid-template-rows: repeat(10, 1fr);
   grid-template-columns: repeat(10, 1fr)
}

.eleven-by-eleven {
   grid-template-rows: repeat(11, 1fr);
   grid-template-columns: repeat(11, 1fr)
}

.twelve-by-twelve {
   grid-template-rows: repeat(12, 1fr);
   grid-template-columns: repeat(12, 1fr)
}

.fl-clear,
.fl-left,
.fl-right,
.video-player {
   max-width: 100%
}

.fl-left {
   float: left;
   background: #ddd
}

.fl-right {
   float: right;
   background: #ddd
}

.fl-clear {
   margin: auto;
   clear: both
}

.parallax {
   background-image: url("../images/bgImg01.jpg");
   min-height: 300px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover
}

audio {
   width: 250px
}

#controls,
.buttons-container,
.todo-list {
   margin-top: 5px
}

#video-selection,
select {
   margin: 1em;
   border: solid 2px var(--dark-blue)
}

.todo-item {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #87cefa;
   margin-bottom: 5px
}

.buttons button,
.todo-item input[type=checkbox] {
   margin-right: 10px
}

.todo-item .text {
   flex-grow: 1
}

.buttons {
   display: flex;
   justify-content: center;
   margin: 3px auto
}

#video-selection {
   font-size: 15px
}

.video-player {
   padding-bottom: 56.25%;
   height: 0;
   margin-bottom: 20px;
   display: none
}

.video-player iframe,
.video-player video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%
}

#popup {
   z-index: 1000;
   top: 20%;
   left: 5%;
   width: 90%;
   height: 60%;
   background-color: rgba(128, 128, 128, .5);
   display: none
}

#mainpopimage {
   position: absolute;
   border: 4px solid var(--light-blue);
   transform: translate(30%, 50%);
   max-width: 90%;
   margin: 0 auto;
   height: auto
}

.gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   gap: 10px;
   min-width: 250px;
   max-width: 600px;
   margin: 1em auto
}

.gallery img {
   border: 3px solid var(--light-gray);
   max-width: 150px;
   height: 150px
}

#close-button {
   top: calc(48vh - 200px);
   right: calc(50% - 140px);
   border: solid 3px var(--basic-white);
   border-radius: 6px;
   padding: .2em;
   font-size: 30px;
   cursor: pointer;
   z-index: 1001
}

#left-button,
#right-button {
   position: absolute;
   top: 50%;
   color: var(--red);
   font-size: 28px;
   text-shadow: 2px 2px 2px #fff;
   cursor: pointer;
   z-index: 3000
}

#left-button {
   left: 1em
}

#right-button {
   right: 1em
}

footer {
   border-top: solid 2px var(--dark-blue);
   padding: .5em
}

footer p {
   margin: .5em
}

@media print {

   .dont-print,
   .dont-print * {
      display: none !important
   }
}

@media only screen and (min-width:100px) {
   #mainpopimage {
      top: 50%;
      left: 50%;
      border: 8px solid #769ee2;
      transform: translate(-50%, -50%)
   }
}

.desk,
.lap,
.phab,
.tab {
   width: 100vw
}

@media (min-width:500px) {
   .phab {
      max-width: 475px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-content: space-between
   }
}

@media (min-width:750px) {

   .phab,
   .tab {
      max-width: 710px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: space-between
   }
}

@media (min-width:1000px) {

   .lap,
   .phab,
   .tab {
      max-width: 1000px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr
   }
}

@media only screen and (min-width:750px) {

   #logo,
   button.icon {
      display: none
   }

   nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: .5em;
      transform: translateY(0);
      padding: 0;
      border-bottom: solid 1px var(--sec-alt-color)
   }

   nav ul li a {
      margin: 0
   }

   div.picBig {
      height: 200px;
      margin: auto;
      max-width: 100%;
      background-image: url("../images/crowdConcert.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: var(--main-color)
   }
}
